body {
    background-color: lightgreen;
}

h1 {
    text-align: center;
}

.center {
    width: 200px;
    margin: auto;
    text-align: left;
}

.rcp_home {
    font-size: large;
    font-weight: bold;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}